@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245, 42%, 25%;
    --foreground: 0, 0%, 100%;

    --primary: 38, 93%, 59%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 245, 42%, 25%;
    --secondary-foreground: 0, 0%, 100%;

    --svg: 0, 0%, 99%;
    --border: 0, 0%, 100%;
    --input: 38, 93%, 59%;
    --ring: 245, 42%, 25%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-body bg-background text-foreground;
  }

  svg {
    @apply text-svg;
  }
}
