@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245, 42%, 25%;
    --foreground: 0, 0%, 100%;

    --primary: 38, 93%, 59%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 245, 42%, 25%;
    --secondary-foreground: 0, 0%, 100%;

    --svg: 0, 0%, 99%;
    --border: 0, 0%, 100%;
    --input: 38, 93%, 59%;
    --ring: 245, 42%, 25%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-body text-foreground;
  }

  svg {
    @apply text-svg;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* size 0.625rem 10px */
.scrollbar::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}
